#---------------------------------#
#      environment configuration  #
#---------------------------------#
version: 2.0.0.{build}
install:
    #change git location for now
    #- git clone https://github.com/PowerShell/DscResource.Tests
    - ps: |
    #    Import-Module -Name .\DscResource.Tests\TestHelper.psm1 -Force
        Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force
        Install-Module -Name Pester -Repository PSGallery -Force


#---------------------------------#
#     services configuration      #
#---------------------------------#

services:
  - spooler

#---------------------------------#
#      build configuration        #
#---------------------------------#

build: false

#---------------------------------#
#      test configuration         #
#---------------------------------#

test_script:
    - ps: |
        $testResultsFile = ".\TestsResults.xml"
        $res = Invoke-Pester -OutputFormat NUnitXml -OutputFile $testResultsFile -PassThru
        (New-Object 'System.Net.WebClient').UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $testResultsFile))
        if ($res.FailedCount -gt 0) { 
            throw "$($res.FailedCount) tests failed."
        }
#---------------------------------#
#      deployment configuration   #
#---------------------------------#

# scripts to run before deployment
